{% extends 'base.html' %}


{% block title %}

{% endblock title %}


{% block content %}
<main>
    <div class="task-edit">
        <h1> Edit </h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Edit</button>
        </form>
    </div>
</main>
{% endblock content %}
