{% extends 'base.html' %}


{% block title %}
Task List
{% endblock title %}


{% block content %}
<main>
    <div class="my-tasks-list">
        <h1>My Tasks</h1>
        <p><a href="{% url "create_task" %}">Create a new task</a></p>
        {% if tasks|length == 0 %}
        <p>You have no tasks</p>
        {% else %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td><a href="{% url 'edit_task' task.id %}">{{ task.name }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_completed|yesno }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</main>
{% endblock content %}
